<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abel|Big+Shoulders+Display:400,600,700|Yanone+Kaffeesatz:400,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>Hello, world!</title>
  
  </head>
  <body style="font-family: 'Abel', sans-serif;">
    <div class="col-md-6 offset-sm-0 offset-md-3 offset-lg-3 student-list" >
           <h2 class="text-center h2" >Student List</h2>
           <% if(students.length == 0){%>
            <div class="row justify-content-center align-items-center list-style">
            <p>Sorry No Results Found</p>
          </div>
           <% } %>
     
              <% students.map((val)=>{ %>
                <div class="row justify-content-center align-items-center list-style">
                <div class="col-md-4 "> <img src="<%= 'images/'+ val.image_name %>" alt="" class="rounded-circle img-thumbnail img-fluid mx-auto d-block" style="width:150px;height:150px" ></div>
                <div class="col-md-8"> <p>Name: <%= val.name %></p>
                <p>Registration Number: <%= val.registration_number %></p>
                <p>Age: <%= val.age %></p>
                <p>Date of birth: <%= val.dob %></p>
                <p>Phone Number: <%= val.phone %></p>
                <p>Email ID: <%= val.email %></p>
                <p>Address: <%= val.address %></p>
                <p>Course: <%= val.course %></p>
                <a href="/update/<%= val.registration_number %>"><i  style="color:#fff" class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/delete/<%= val.registration_number %>" onclick="return confirm('Are you sure to delete this record ?');"><i style="color:#fff" class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
              </div>
            </div>
              <% }) %>
            </div>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://use.fontawesome.com/07cd14e612.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>